.footer {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    min-height: calc(20vh - 60px);
    &-container {
        max-width: 1100px;
        margin: 0 auto;
        padding: 20px 10px;

        display: flex;
        justify-content: space-evenly;
    }

    &__list {
    }

    &__link {
        display: block;
        color: black;
        text-decoration: none;
    }
}
