$breakpointXs: 600px;
$breakpointSm: 768px;
$breakpointMd: 992px;
$breakpointbootstrapLd: 1200px;
$breakpointLg: 1300px;
$breakpointXl: 1500px;

$black: #000;
$white: #fff;
$blue: #3948d1;
$red: rgb(226, 58, 58);
